node_modules
.DS_Store
.idea
.nvmrc
.docusaurus
plugins/remark-lint-no-dead-urls/node_modules
sync-api-docs/generatedComponentApiDocs.js
sync-api-docs/extracted.json
scripts/lint-examples/out/
website/build
webiste/.docusaurus
webiste/.cache-loader
webiste/.DS_Store
webiste/.env.local
webiste/.env.development.local
webiste/.env.test.local
webiste/.env.production.local
webiste/npm-debug.log*
webiste/yarn-debug.log*
webiste/yarn-error.log*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.pdf
